<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cd-heading" data-cy="CdCreateUpdateHeading">Create or edit a Cd</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_performer">Performer</label>
          <input type="text" class="form-control" name="performer" id="field_performer" data-cy="performer" formControlName="performer" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_releaseYear">Release Year</label>
          <input
            type="text"
            class="form-control"
            name="releaseYear"
            id="field_releaseYear"
            data-cy="releaseYear"
            formControlName="releaseYear"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_discCount">Disc Count</label>
          <input type="text" class="form-control" name="discCount" id="field_discCount" data-cy="discCount" formControlName="discCount" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_medium">Medium</label>
          <input type="text" class="form-control" name="medium" id="field_medium" data-cy="medium" formControlName="medium" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_state">State</label>
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null"></option>
            <option *ngFor="let state of stateValues" [value]="state">state</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_added">Added</label>
          <div class="d-flex">
            <input
              id="field_added"
              data-cy="added"
              type="datetime-local"
              class="form-control"
              name="added"
              formControlName="added"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
